# CESED ‚Äì CENTRO DE ENSINO SUPERIOR E DESENVOLVIMENTO  
# UNIFACISA ‚Äì CENTRO UNIVERSIT√ÅRIO

### Curso: Sistemas de Informa√ß√£o  
### Disciplina: 218606 - Elaborar Relat√≥rio Anal√≠tico de Data Science  
### Professor: Matheus Batista Silva

---

### Projeto: An√°lise da Qualidade do Ar no Estado de S√£o Paulo (2015‚Äì2021)

#### Grupo:
- Carlos Renato Pereira da Silva  
- Thiago Emanuel Barros Fernandes  
- Jackson Souza Ramos  
- Sanclero de Melo Nunes  
- Wabstton Montenegro Bandeira
- Nivea Ester de Almeida Sousa

### Introdu√ß√£o

Este projeto, desenvolvido em grupo, tem como objetivo analisar dados sobre a qualidade do ar no estado de S√£o Paulo, buscando entender como a polui√ß√£o atmosf√©rica tem evolu√≠do nos √∫ltimos anos e quais impactos isso pode representar para a sa√∫de da popula√ß√£o.

O conjunto de dados utilizado cont√©m informa√ß√µes coletadas entre **2015 e 2021** por **87 esta√ß√µes de monitoramento** distribu√≠das por diversas cidades do estado. Essas esta√ß√µes registram medi√ß√µes da concentra√ß√£o de **nove poluentes atmosf√©ricos diferentes**, como MP10, O3, NO2, CO, entre outros. Al√©m disso, o dataset inclui dados como a data e hora da medi√ß√£o, o local da esta√ß√£o, o tipo de coleta e a unidade de medi√ß√£o.

A partir dessa base, buscamos identificar padr√µes, comparar n√≠veis de polui√ß√£o entre regi√µes e acompanhar a varia√ß√£o desses indicadores ao longo do tempo.

Os dados foram obtidos da **Plataforma Qualidade do Ar**, mantida pelo **Instituto de Energia e Meio Ambiente (IEMA)**. Eles est√£o dispon√≠veis publicamente no seguinte link:

### Legenda dos Poluentes

- **MP10** ‚Äì Material Particulado com di√¢metro at√© 10 ¬µm  
- **MP2.5** ‚Äì Material Particulado com di√¢metro at√© 2,5 ¬µm  
- **O3** ‚Äì Oz√¥nio  
- **NO2** ‚Äì Di√≥xido de Nitrog√™nio  
- **NO** ‚Äì Mon√≥xido de Nitrog√™nio  
- **CO** ‚Äì Mon√≥xido de Carbono  
- **SO2** ‚Äì Di√≥xido de Enxofre  
- **PTS** ‚Äì Part√≠culas Totais em Suspens√£o  
- **FMC** ‚Äì Fuma√ßa

Esses poluentes s√£o monitorados por serem prejudiciais √† sa√∫de humana e ao meio ambiente, podendo agravar doen√ßas respirat√≥rias, cardiovasculares e contribuir com problemas de visibilidade e chuvas √°cidas.

**Link dataset:** [https://www.kaggle.com/datasets/samirnunesdasilva/sao-paulo-pollution-data](https://www.kaggle.com/datasets/samirnunesdasilva/sao-paulo-pollution-data)

## üì¶ Importa√ß√£o das Bibliotecas

Nesta se√ß√£o importamos as bibliotecas que ser√£o utilizadas ao longo do projeto para an√°lise e visualiza√ß√£o dos dados.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Estilo padr√£o dos gr√°ficos
plt.style.use('seaborn-v0_8')
sns.set_palette('Set2')

## üìÇ Leitura dos Dados

Aqui carregamos o arquivo CSV diretamente da pasta.

In [2]:
# Caminho do arquivo
caminho_arquivo = 'archive/SP_poluicao_dados.csv'

# Leitura dos dados
df = pd.read_csv(caminho_arquivo)

# Exibe n√∫mero de linhas e colunas
print(f'Dataset carregado com {df.shape[0]:,} linhas e {df.shape[1]} colunas.')

Dataset carregado com 10,980,515 linhas e 10 colunas.

## üëÄ Visualiza√ß√£o Inicial dos Dados

Vamos visualizar as primeiras e √∫ltimas entradas, al√©m de entender o tipo de dados presente em cada coluna.

In [3]:
# Primeiras 5 linhas
df.head()

,Unnamed: 0,ID,Data,Hora,Estacao,Codigo,Poluente,Valor,Unidade,Tipo
0,0,0,2015-01-01,01:00,Americana - Vila Santa Maria,SP01,MP10,65.0,ug/m3,automatica
1,1,1,2015-01-01,02:00,Americana - Vila Santa Maria,SP01,MP10,98.0,ug/m3,automatica
2,2,2,2015-01-01,03:00,Americana - Vila Santa Maria,SP01,MP10,79.0,ug/m3,automatica
3,3,3,2015-01-01,04:00,Americana - Vila Santa Maria,SP01,MP10,53.0,ug/m3,automatica
4,4,4,2015-01-01,05:00,Americana - Vila Santa Maria,SP01,MP10,35.0,ug/m3,automatica

In [4]:
# √öltimas 5 linhas
df.tail()

,Unnamed: 0,ID,Data,Hora,Estacao,Codigo,Poluente,Valor,Unidade,Tipo
10980510,10980510,10980510,2021-02-01,01:00,Tatuap√©,SP76,SO2,3.0,ug/m3,manual
10980511,10980511,10980511,2021-03-01,01:00,Tatuap√©,SP76,SO2,3.0,ug/m3,manual
10980512,10980512,10980512,2021-04-01,01:00,Tatuap√©,SP76,SO2,3.0,ug/m3,manual
10980513,10980513,10980513,2021-05-01,01:00,Tatuap√©,SP76,SO2,5.0,ug/m3,manual
10980514,10980514,10980514,2021-10-01,01:00,Tatuap√©,SP76,SO2,3.0,ug/m3,manual

In [5]:
# Informa√ß√µes sobre tipos, nulos e estrutura geral
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10980515 entries, 0 to 10980514
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   ID          int64
 2   Data        object
 3   Hora        object
 4   Estacao     object
 5   Codigo      object
 6   Poluente    object
 7   Valor       float64
 8   Unidade     object
 9   Tipo        object
dtypes: float64(1), int64(2), object(7)
memory usage: 837.7+ MB